body{
	background-color: black;
}

header, main, footer {
	background-color: #F0EFE6;
	margin: 0 auto;
	width: 95%;
}

.header{
	display: table;
}
	.header_logo{
		display: table-cell;
		max-height: 225px;
		max-width: 530px;
	}

	.form_acces{
		display: table-cell;
		float: right;
		text-align: center;
		padding-right: 3.8rem; 
	}
		.form_acces_list{
			margin-top: -180px;
		}

		.form_acces_item{
			display: block;
			margin: .3em auto;
			padding: .1em;
		}
			.form_acces_title{
				margin-bottom: 0;
			}

	.menu{
		background-color: #00659B;
		color: white;
		display: table-row;
		font-size: 1.5rem;
		width: 100%;
	}
		.menu_list{
			margin: 0 auto;
			/*width: 100%;
			padding: 0;*/
			/*margin: 0;
			display: flex;
			justify-content: space-around;*/
		}

		.menu_item{
			background-color: #A9D0F5;
			display: inline-block;
			float: left;
			margin: 0 .5rem;
			text-align: center;
			width: 15%;
			min-width: 140px;
		}

		.menu_item_link{
			display: block;
			height: 45px;
			padding: 10px 5px;
			text-decoration: none;
			width: 140px;
		}
			.menu_item:hover{
				background-color:#013ADF; 
			}
			.menu_item_link:hover{
				color: white;				
			}
			/*a[data-itemReduccion]{
				font-size: 19.7px;
			}	*/
.container{
	display: table;
}
	.section_level_1{
		display: table-cell;
		width: 50%;
		float: left;
	}
		.descripcion{
			color: #00659B;
    		font-size: 30px;
    		margin: 25px;
    		font-family: Optima;
    		margin-top: 70px;
		}

		.actividad{
			color: #666666;
    		font-size: 25px;
    		margin: 25px;
    		font-family: Trebuchet MS;
		}

		.slider{
			/*width: 600px;
			height: 400px;*/
			min-height: 400px;
			min-width: 450px;
			position: relative;
		}
			.image_slider{
				/*width: 600px;
				height: 400px;*/		
				min-height: 400px;
				min-width: 450px;
				position: absolute;
				display: none;
			}
.footer_home{
	margin-top: -21px; 
}
	.footer__home__nav{
		display: table;
	}
	.footer__home__nav li{
		display: table-cell;
	}
	.footer__article{
		font-size: 12px;
		min-width: 295px;
		min-height: 56px;
	}
	.footer__article span{
		font-weight: bold;
	}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fontIcon/MonoSocialIconsFont-1.10.eot');
  src: url('../fontIcon/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fontIcon/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.symbol,
a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*font-size: 1.8em;*/
  font-size: 5em;
  color: black;
}
	.symbol_link{
		text-decoration: none;
		padding: .2em;
		text-align: left;
	}

.lstyle_none{
	list-style-type: none; 
}

.img_width_100{
	max-width: 100%;
}

/*
 resolucion a bajar 1060px
*/