body{
	background-color: black;
	margin: 0;
		
}

.header{
	background-color: #F0EFE6;
	display: table;
	margin: 0 auto;
	width: 95%;
	
}
	.header_logo{
		display: table-cell;
		max-width: 530px;
		max-height: 225px;
	}

.form_acces{
	display: table-cell;
}
	.form_acces_list{
	
	}

.menu{
	display: table-row; 
}

.img{
	max-width: 100%;
}

.lstyle_none{
	list-style-type: none; 
}